<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .container {
        width: 50%;
        margin: auto;
        padding: 30px;
        background: #e2e2e2;
    }
</style>

<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to Home Page</h1>
        <p>Message: <span data-th-text="${message}"></span></p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, doloremque repellat consequuntur ad
            eveniet
            voluptas? Soluta fuga aperiam atque. Vero illum natus adipisci minima incidunt. Vitae, quibusdam! Debitis
            vitae
            fugiat earum quos atque, dolorum veniam sint labore assumenda commodi dolor soluta corporis natus minus,
            laboriosam qui eos reprehenderit ut obcaecati.
        </p>
    </div>
</body>

</html>